@font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata/inconsolata-static/Inconsolata/Inconsolata-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata/inconsolata-static/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: bold;
  
body {
    text-align: center;
    margin: 0px;
    font-family: "Inconsolata";
}

.about {
    background-color: yellow;
    padding: 0px;
}

.projects {
    background-color: yellow;
    padding: 10px;
}
