@font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata/inconsolata-static/Inconsolata/Inconsolata-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('/Inconsolata/inconsolata-static/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
    font-weight: 300;
    font-style: bold;
}
body {
    font-family: 'Inconsolata';
    font-weight: 300;
    font-style: normal;
    color: rgba(200, 200, 200, 0);
    background-color: rgba(28, 28, 28, 0)
}
